<h1>Messages</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>E-mail</th>
      <th width="60%">Message</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |mailed|}}
      <tr>
        <th>{{mailed.id}}</th>
        <td>{{mailed.email}}</td>
        <td>{{mailed.message}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
