<h2>Your artists</h2>
<div class="row">
  {{#each artists as |artist|}}
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Artist: {{artist.name}}</h3>
        </div>
        <div class="panel-body">
          <p>Total albums: {{artist.id}}</p>
        </div>
        <div class="panel-footer text-right">
          {{#link-to 'artists.edit' artist.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
          <button class="btn btn-danger btn-xs" {{action 'deleteArtist' artist}}>Delete</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
