<h2>Your artists</h2>
<div class="row">
  {{#each model as |artist|}}
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{artist.name}}</h3>
        </div>
        <div class="panel-body">
          <img src="{{artist.images.[3].url}}" alt="{{artist.name}}" />
          <p>Followers: {{artist.followers.total}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
