<div class="container">
  {{partial 'nav'}}
  <div class="well">
    <ul class="nav nav-pills">
      {{#link-to 'artist' tagName="li"}}<a href="">Artists</a>{{/link-to}}
    </ul>
  </div>
  {{outlet}}
</div>
